* {
  padding: 0;
  margin: 0;
}

.board {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.left_drop {
  grid-area: leftDrop;
}

.right_drop {
  grid-area: rightDrop;
}

.field {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "leftDrop rightDrop";
}

span {
  height: 200px;
}

.player {
  width: 200px;
  height: 25px;
  background-color: white;
  margin: 0 auto;
  padding: 0;
}

.drop {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.player_board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}